### IntelliJ IDEA ###
.idea/
out/

### Compiled files
*.class
*.jar
*.war
*.ear
hs_err_pid*

### Logs and databases
log/
logs/
*.log
*.log.*
*.sqlite
*.db
*.h2.db

### User-specific files
*.suo
*.user
*.sln.docstates

### Build directories
bin/
dist/
deploy/
.gradle/
.mvn/
gen/

### OtherS
Thumbs.db
.DS_Store
*.swp
*.bak
*.tmp
*.tmp.*
*~
/.temp
/allure-results/